/* --- CSS DESIGN (GLOBAL) --- */
html, body {
  margin: 0;
  padding: 0;
  font-family: VarelaRound;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

#wrapper {
  position: relative;
  height: 100%;
}

.tjh-border-bg {
  height: auto;
  left: 0;
  right: 0;
  z-index: 100;
}

#tjh-head-sector {
  top: 0;
  padding-bottom: 0;
  position: fixed;
}

#tjh-head-base, #tjh-logo-sector, #tjh-primary-nav, input[type=text] {
  height: 60px;
}

#tjh-head-base {
  width: 100%;
  position: relative;
}

#tjh-logo-sector {
  width: 180px;
  left: 0;
  z-index: 1;
}

#tjh-logo-sector img {
  max-width: 151px;
  width: 100%;
  margin: 6px auto;
}

#tjh-logo-sector, #tjh-primary-nav {
  position: absolute;
  text-align: center;
}

#tjh-primary-nav {
  overflow: hidden;
  right: 100px;
  left: 180px;
}

#tjh-primary-nav div {
  display: inline-block;
  text-align: center;
  margin: 0 -2px 0 -2.5px;
}

#prim-nav-1 a, #prim-nav-2 a, 
#prim-nav-3 a, #prim-nav-4 a, 
#prim-nav-5 a {
  padding: 20px 10px;
  display: block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.1px;
  margin: 0 -2px 0 -2.5px;
}

#prim-nav-1 a:hover, #prim-nav-2 a:hover, 
#prim-nav-3 a:hover, #prim-nav-4 a:hover, 
#prim-nav-5 a:hover {
  transition: 0.8s;
}

#tjh-srch, input {
  position: absolute;
  right: 0;
  height: 60px; 
}

input[type=text] {
  position: absolute;
  right: 0;
  width: 100px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 20px 5px 20x 2px;
  -webkit-transition: width 0.9s ease-in-out;
  transition: width 0.9s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.5px;
}

input[type=text]:focus {
  width: 100%;
  padding: 20px 5px 20px 10px;
  padding-left: 180px;
}

input[type=text]:focus, input::placeholder {
  font-family: VarelaRound;
}

input[type=text], input[type=text]:focus {
  border: none;
  outline: none;
}

input::placeholder {
  opacity: 1;
}

input:focus::-webkit-input-placeholder { 
  text-align: left;
}

input:focus::input:-moz-placeholder { 
  text-align: left;
}

input:focus::-moz-placeholder { 
  text-align: left;
}

input:focus:-ms-input-placeholder { 
  text-align: left;
}

input::-webkit-input-placeholder {
  text-align: center;
}

input:-moz-placeholder {
  text-align: center;  
}

input::-moz-placeholder {
  text-align: center;  
}

input:-ms-input-placeholder {  
  text-align: center; 
}

#tjh-sec-menu {
  height: 30px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

#tjh-sec-menu a,
.tjh-sec-drop {
  display: inline-block;
  text-decoration: none;
  margin: 0 -2.5px 0 -2px;
  padding: 6px 10px;
  font-size: 16px;
}

#tjh-sec-menu a:hover {
  padding: 6px 10px 3px;
}

#tjh-sec-menu .tjh-sec-drop:hover {
  cursor: none;
  padding: 6px 10px 3px;
}

#tjh-sec-menu .tjh-sec-drop-nav {
  display: none;
  margin-top: 6px;
  margin-left: -10px;
  overflow: hidden;
  width: 140px;
  position: fixed;
  z-index: 1;
}

#tjh-sec-menu .tjh-sec-drop-nav a {
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.8px;
  padding: 10px;
  font-weight: bold;
}

#tjh-sec-menu .tjh-sec-drop-nav a:hover {
  border-bottom: none;
  transition: 0.7s;
}

#tjh-sec-menu .tjh-sec-drop:hover .tjh-sec-drop-nav {
  display: block;
}

#tjh-cont-menu {
  position: absolute;
  top: 125px;
  left: 0;
  bottom: -50px;
  overflow-y: auto;
  width: 230px;
  background-color: #000817;
}

#tjh-cont-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#tjh-cont-menu::-webkit-scrollbar-track {
  background-color: #000817;
}
 
#tjh-cont-menu::-webkit-scrollbar-thumb {
  background-color: #333945;
}

#tjh-cont-menu::-webkit-scrollbar-thumb:hover {
  background-color: #00ffcc;
}

.tjh-cont-main a, .tjh-cont-top a {
  font-size: 13px;
  display: block;
  text-decoration: none;
  letter-spacing: 0.7px;
}

.tjh-cont-main a {
  padding: 10px 0;
  padding-left: 6px;
  font-weight: bold;
  background: rgba(7, 19, 44, 0.2);
  color: #99add6;
  border-bottom: 2px solid #07132c;
  text-shadow: 2px 2px 2px #000;
}

.tjh-cont-top a {
  padding: 8px 0;
  padding-left: 12px;
  color: #99add6;
  text-shadow: 2px 2px 2px #000;
}

.tjh-cont-top a:hover {
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.9);
}

.tjh-cont-main a:hover,
.tjh-cont-top a:hover {
  color: #00ffcc;
  transition: 1s;
}

#tjh-ad-box {
  position: absolute;
  top: 125px;
  right: 0;
  bottom: -50px;
  overflow-y: auto;
  width: 230px;
  text-align: center;
  background-color: #000817;
  border-left: 1px solid #0d1423;
  color: #99add6;
}

#article {
  position: relative;
  min-height: 100%;
  margin-left: 240px;
  margin-right: 240px;
  overflow: hidden;
  color: #000817;
  background-color: #f2f3f3;
  border-right: 2px solid #000612;
  border-left: 2px solid #000612;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.tjh-art-bod {
  margin-top: 125px;
  padding: 0 0 350px;
  background-color: #f2f3f3;
  position: relative;
}

.tjh-art-sect {
  text-align: center;
}

.tjh-art-sect h2,
.tjh-art-sect h3,
.tjh-art-sect h4,
.tjh-art-sect p, 
.tjh-art-sect i {
  margin: 0;
  text-align: left;
  color: #000817;
}

.tjh-art-sect h2,
.tjh-art-sect h3, 
.tjh-art-sect h4 {
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.tjh-art-sect h2 {
  padding: 30px 60px 7px 40px;
  clear: both;
}

.tjh-art-sect h3 {
  padding: 15px 60px 6px 50px;
  margin-top: 20px;
}

.tjh-art-sect a {
  color: #3366ff;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.tjh-art-sect a:hover {
  color: #00ffcc;
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.tjh-art-sect h4 {
  padding: 10px 60px 5px;
}

.tjh-art-sect p {
  line-height: 1.8;
  padding: 2px 60px 20px;
  letter-spacing: 0.8px;
}

#tjh-foot-sector {
  bottom: 0;
  padding-top: 4px;
  position: absolute;
  box-shadow: 0 -8px 10px rgba(0,0,0,0.5);
  z-index: 10;
}

#tjh-foot-base {
  height: auto;
  padding: 10px 0 5px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.3px;
  background-color: #000817;
  color: #99add6;
}

#tjh-foot-base p {
  line-height: 1.4;
  cursor: context-menu;
}

.foot-menu-sector {
  display: flex;
  height: auto;
  width: 80%;
  margin: 0 auto;
  background-color: #00ffcc;
  background: linear-gradient(#000817, #262d3a, #000817);
}

.foot-col {
  margin-left: 4px;
  float: left;
  flex: 1;
  background-color: #000817;
}

.borderless {
  margin: 0;
}

.foot-col a {
  display: block;
  padding: 12px 10px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 5px;
  letter-spacing: 0.5px;
  background-color: #000817;
  color: #99add6;
}

.foot-col h5 {
  padding: 5px 10px;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 13px;
  cursor: context-menu;
  color: #00ffcc;
}

.foot-col a:hover {
  text-decoration: underline;
  transition: 1s;
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.9);
  color: #00ffcc;
}

.socials a, #foot-nav-9, 
#foot-nav-10, #foot-nav-11, 
#foot-nav-12 {
  display: inline-block;
  font-size: 25px;
  padding: 5px;
}

#tjh-foot-base img {
  height: 20px;
  width: 74px;
  margin: 5px auto;
}

.socials a:hover {
  text-decoration: none;
}

.tjh-ad-box {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 10px 5px;
  display: none;
  background-color: #ccc;
}

#tjh-mob-drawer {
  display: none;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
  color: #00ffcc;
  width: 60px;
}

#tjh-mob-drawer span {
  font-size: 16px;
}

#tjh-mob-drawer:hover {
  color: #3366ff;
}

.tjh-mob-menu {
  display: none;
  position: fixed;	
  z-index: 111;
  bottom: 0;
  top: 60px;
  padding-top: 4px;
}

.mob-nav-menu {
  width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: #000817;
}

#mob-nav-1 a, #mob-nav-2 a, 
#mob-nav-3 a, #mob-nav-4 a, 
#mob-nav-5 a {
  color: #99add6;
  padding: 12px 0;
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.6px;
  text-align: center;
}

.openMobMenu {
  display: block;
}

.tjh-art-head {
  height: auto;
  margin-bottom: 8px;
  padding: 8px 10px;
  text-align: left;
  background-color: #000817;
  border-bottom: 1px solid #3366ff;
  box-shadow: 0 6px 10px rgba(0,0,0,0.5);
  color: white;
}

.tjh-art-head div {
  color: #e6e6e8;
}

.tjh-art-head h1 {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  letter-spacing: 1px;
  text-shadow: 1px 0 1px #00ffcc;
  color: #e6e6e8;
}

.tjh-art-head span {
  margin: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 0.7px;
}

.tjh-art-head a {
  font-weight: normal;
}

.tjh-site-dir {
  height: auto;
  padding: 3px 1px 9px 1px;
  overflow: hidden;
  font-size: 13px;
  background-color: #000817;
  border-bottom: 1px dashed #07132c;
  color: #e6e6e8;
}

.tjh-art-head .tjh-art-info {
  padding: 0 10px 0 5px;
  color: #e6e6e8;
}

.info div {
  display: inline-block;
}

.tjh-art-icon {
  color: #00ffcc;
}

.tjh-art-lbl {
  color: #00ffcc;
}

.tjh-art-tags a {
  color: #e6e6e8;
}

.tjh-art-tags a:hover {
  color: #00ffcc;
}

.tjh-site-dir .tjh-dir-con {
  color: #00ffcc;
  padding: 0 10px;
  overflow: hidden;
  font-size: 11px;
}

.tjh-art-shr {
  padding: 0 60px 0 40px;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
}

.social-btn {
  height: auto;
  margin: 0 2px 0 0;
  float: left;
  overflow: hidden;
  text-align: center;
}

#tjh-top-scroll {
  padding: 10px 5px;
  position: fixed;
  right: 212px;
  bottom: 320px;
  width: 50px;
  display: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 10;
  background-color: #000817;
  color: #00ffcc;
}

#tjh-top-scroll span {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

#tjh-top-scroll b {
  text-transform: uppercase;
}

#scroll-top:hover {
  background-color: #00ffcc;
  color: #000817;
  transition: 1s;
}

.tjh-img-mod {
  background-color: #000817;
  background: rgba(0,8,23,0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.tjh-zm-out-btn {
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 40px;
}

.tjh-zm-out-btn:hover {
  color: #999;
  cursor: pointer;
}

.tjh-img-mod {
  background-color: #000817;
  background: rgba(0,8,23,0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
  z-index: 110;
}

.tjh-img-mod::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.tjh-img-mod::-webkit-scrollbar-track {
  background-color: #000817;
  border-left: 1px solid #000a1f;
}

.tjh-img-mod::-webkit-scrollbar-thumb {
  background-color: #3366ff;
  border-left: 1px solid #000a1f;
}

.tjh-img-mod::-webkit-scrollbar-thumb:hover {
  background-color: #00ffcc;
  border-left: 1px solid #000a1f;
}

.tjh-img-mod, .tjh-img-mod-cont img {
  cursor: zoom-out;
}

.tjh-img-act {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.tjh-img-act img {
  margin-bottom: -4px;
  border: 1px solid #000;
  box-shadow: 0 10px 15px rgba(0,0,0,0.7);
  border-radius: 3px;
}

.tjh-mod-lan img,
.tjh-mod-sqa img {
  max-width: 500px;
  width: 100%;
}

.tjh-mod-por img{
  max-width: 600px;
  width: 100%;
}

.tjh-img-act .tjh-mod-cap {
  color: white;
  font-size: 15px;
  letter-spacing: 0.8px;
  padding: 17px 0;
  text-shadow: 0 3px 3px rgba(0,0,0,0.9);
}

.tjh-img-cont {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 7px;
  display: inline-block;
  margin: 20px 20px 40px;
  box-shadow: 0 8px 13px rgba(0,8,23,0.3);
}

.tjh-img-sqa img,
.tjh-img-por img {
  max-width: 200px;
}

.tjh-img-lan img {
  max-width: 250px;
}

.tjh-img-sqa img,
.tjh-img-por img,
.tjh-img-lan img {
  cursor: zoom-in;
  border: 1px solid #19202e;
  width: 100%;
}

.tjh-img-cap-sqa,
.tjh-img-cap-por {
  max-width: 202px;
}

.tjh-img-cap-lan {
  max-width: 252px;
}

.tjh-img-cap {
  height: auto;
}

.tjh-img-cap span {
  font-size: 12px;
  color: #19202e;
  letter-spacing: 0.8px;
}

.tjh-algn-rt {
  float: right;
  margin-right: 90px;
}

.tjh-algn-lt {
  float: left;
  margin-left: 60px;
  margin-right: 30px;
}

.tjh-algn-ct {
  display: inline-block;
  margin: 30px -2px 30px -2.5px;
  clear: both;
}

.tjh-cont-lst {
  max-height: 200px;
  min-width: 150px;
  overflow: auto;
  padding: 5px 10px;
}

.tjh-cont-lst li {
  margin-left: -20px;
  text-align: left;
  line-height: 1.5;
}

.tjh-cont-lst ul li {
 list-style-type: square;
}

.tjh-cont-lst span {
  padding: 0;
}

.tjh-code-prev-head h4, 
.tjh-code-prev-head h5,
.tjh-cont-head h5 {
  margin: 0;
  text-align: left;
  cursor: context-menu;
}

.tjh-code-prev-head h4 {
  padding: 5px;
}

.tjh-code-prev-head h5,
.tjh-cont-head h5 {
  padding: 3px 5px;
}

.tjh-prev-cde h5 {
  text-align: left;
}

.tjh-prev-cont, 
.tjh-code-cont {
  height: auto;
  border-radius: 3px;
  display: inline-block;
  margin: 10px -2px 10px -2.5px;
}

.tjh-prev-cont {
  margin: 10px -2px 10px -2.5px;
  width: 400px;
}
 
.tjh-code-cont {
  margin: 10px -2px 10px -2.5px;
  width: 400px;
}

.tjh-code-dmo code,
.tjh-prev-code code {
  white-space: nowrap;
  display: block;
  line-height: 1.5;
  text-align: left;
  font-family: "Courier New", monospace;
  font-size: 14px;
}

.tjh-code-dmo::-webkit-scrollbar,
.tjh-code-view::-webkit-scrollbar,
.tjh-cont-tbl::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.tjh-cont {
  height: auto;
  max-width: 500px;
  border-radius: 3px;
  display: inline-block;
  margin: 10px -2px 10px -2.5px;
  overflow: hidden;
}

.tjh-cont-tbl {
  max-height: 200px;
  overflow: auto;
  padding: 2px 0;
}

.tjh-cont-tbl table, .tjh-cont-tbl td, .tjh-cont-tbl th {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 13px;
}

.tjh-cont-tbl th {
  padding: 5px 10px;
}

.tjh-cont-tbl td {
  padding: 7px 10px;
}

.tjh-quot-cont {
  max-height: 100px;
  overflow: auto;
  padding: 10px 0;
  position: relative;
}

.tjh-quot-cont hr {
	width: 130px;
	margin-bottom: 20px;
}

.tjh-quot-txt {
	padding: 5px 0;
	margin: 5px auto;
	max-width: 200px;
}

.tjh-quot-auth {
  position: absolute; 
  right: 50px;
  bottom: 10px;
}

.tjh-prev-cde {
   border-right: 3px solid #000817;
   height: 300px;
   width: 200px;
   float: left;
}

.code-sample code,
.tjh-prev-cde code{
   white-space: nowrap;
   display: block;
   line-height: 1.5;
   text-align: left;
   font-family: "Courier New", monospace;
   font-size: 14px;
}

.tjh-prev-cde  code::selection,
.code-sample code::selection{
   background-color: #00ffcc;
   color: #000817;
}

.tjh-prev-cde h5,
.tjh-prev-dmo h5 {
	margin: 0 0 3px;
	padding: 2px 0;
	background-color: #000817;
	color: #00ffcc;
}

.tjh-prev-code  h5 {
	text-align: left;
	border-bottom: 1px solid #19202e;
}

.tjh-prev-dmo {
	height: auto;
}

.tjh-code-dmo {
  max-height: 100px;
  overflow: auto;
  padding: 10px 0;
}

p code {
  padding: 4px 6px;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Courier New", monospace;
}

.tjh-code-prev-head h5::selection,
.tjh-code-prev-head h4::selection {
  background: none;
  color: inherit;
}

.tjh-prev-dmo iframe {
  overflow: auto;
  height: 100px;
  max-height: 300px;
}

.tjh-prev-code h5,
.tjh-prev-dmo h5 {
  margin: 0 0 3px;
  padding: 2px 0;
}

.tjh-prev-code h5 {
  text-align: left;
}

.tjh-prev-dmo h5 {
  text-align: right;
}

.tjh-code-tb {
  overflow: hidden;
  width: 200px;
}

.tjh-code-typ {
  float: left;
  padding: 5px 0;
  font-size: 13px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: 0.2s;
  width: 60px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.3px;
  cursor: pointer;
}

.tjh-code-typ::selection{
  background: none;
}

.tjh-code-view {
  height: 232px;
  width: 300px;
  display: none;
  overflow: auto;
  padding: 10px 0;
}

#tjh-typ-html {
  display: block;
}

.tjh-prev-cde {
  height: 300px;
  width: 300px;
  float: left;
}

.tjh-prev-dmo {
  float: left;
  height: auto;
}

.tjh-prev-dmo iframe {
  border: none;
  max-height: 200px;
  margin-top: -4px;
  margin-bottom: -4px;
}

.tjh-prev-dmo::selection, .tjh-prev-dmo iframe::selection {
  background: none;
}

@font-face {
  font-family: VarelaRound;
  src: url("font/VarelaRound.ttf");
}

#tjh-warn-disp {
  font-size: 11px;
  letter-spacing: 0.6px;
  padding: 10px 0;
  height: auto;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  cursor: none;
  position: absolute;
  top: 90px;
  width: 100%;
}

.tjh-disp-info {
  position: relative;
  display: inline-block;
}

.tjh-disp-txt {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  max-width: 200px;
  height: auto;
  text-align: center;
  font-weight: normal;
  font-size: 11px;
  padding: 5px;
  border-radius: 4px;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tjh-disp-info:hover .tjh-disp-txt {
  visibility: visible;
  opacity: 0.9;
}
