html, body{
	background-color: #000817;
	color: #f2f3f3;
}

.side-content a{
	color: #00ffcc;
	background: rgba(7, 19, 44, 0.2);
	background-color: #000817;
	border-bottom: 1px solid #07132c;
	text-shadow: 2px 2px 2px #000;
}

.side-content a:hover{
	color: #3366ff;
}

.side-content-nav {
	background-color: #000817;
}

.side-content-nav a{
	color: #99add6;
	background-color: #000817;
	text-shadow: 2px 2px 2px #000;
}

.side-content-nav a:hover{
	color: #3366ff;
	background: rgba(7, 19, 44, 0.4);
}

.border{
	background-color: #00ffcc;
	background: linear-gradient(to right, #00ffcc, #3366ff);
}

.head-base{
	background-color: #000817;
}

#sub-nav{
	background-color: #00ffcc;
	background: linear-gradient(to right, #00ffcc, #3366ff);
}

#sub-nav a,
.extend-menu{
	color: #000817;
}

#sub-nav a:hover,
.extend-menu:hover{
	border-bottom: 4px solid #000817;
}

#article{
	border-right: 2px solid #000612;
	border-left: 2px solid #000612;
	box-shadow: 0 8px 16px rgba(0,0,0,0.5);
	color: #000817;
}

.article-body{
	background-color: #f2f3f3;
}

.article-header{
	background-color: #000817;
	border-bottom: 1px solid #3366ff;
	box-shadow: 0 6px 10px rgba(0,0,0,0.5);
	color: white;
}

.article-header h1{
	text-shadow: 1px 0 1px #00ffcc;
	color: #e6e6e8;
}

.article-header div{
	color: #e6e6e8;
}

.directory{
	background-color: #000817;
	border-bottom: 1px dashed #07132c;
	color: #e6e6e8;
}

#head-mobile{
	background-color: #000817;
	color: #00ffcc;
}

#head-mobile:hover{
	color: #3366ff;
}

#head-nav a{
	color: #99add6;
}

#head-nav a:hover{
	color: #3366ff;
	background: rgba(7, 19, 44, 0.5);
}

#head-nav a.current{
	color: #00ffcc;
	background: rgba(7, 19, 44, 0.5);
}

#footer{
	box-shadow: 0 -8px 10px rgba(0,0,0,0.5);
}

.footer-base{
	background-color: #000817;
}

.footer-base p{
	color: white;
}

.footer-link-container{
	background-color: #00ffcc;
	background: linear-gradient(#000817, #00ffcc, #000817);
}

.col{
	background-color: #000817;
}

.col a{
	background-color: #000817;
	color: #99add6;
}

.col h5{
	color: #00ffcc;
}

.col a:hover{
	color: #00ffcc;
	background: rgba(7, 19, 44, 0.5);
}

#ad-box{
	color: #0e2558;
}

.caption-content,
.caption-title{
	background-color: #000817;
	border: 1px solid #a6a6a6;
}

.caption-title{
	color: #00ffcc;
}

.caption-border{
	background-color: #f2f3f3;
	border: 1px solid #d9d9d9;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.caption-text{
	color: #808080;
}

.warning-message{
	background-color: #cc99ff;
	color: #8000ff;
	border: 2px solid #8000ff;
	box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

ul, ol{
	background-color: #000817;
}

ul li,
ol li{
	color: #00ffcc;
}

ul span,
ol span{
	color: white;
}

table{
	background-color: #000817;
	color: white;
	border: 2px solid #000817;
}

th, td{
	border: 1px solid #00ffcc;
}

th{
	color: #00ffcc;
}

td{
	color: white;
}

code{
	background-color: #000817;
	color: #00ffcc;
}

.code-box{
	background-color: #000817;
}

.code-box code{
	background-color: #000817;
	color: white;
}

.code-box h5{
	color: #00ffcc;
}

.fake-image{
	background-color: #000817;
	color: #00ffcc;
}

.ad-box{
	border: 1px dashed #666666;
	color: #666666;
}

.article-header .article-info{
	color: #e6e6e8;
}

.article-icon{
	color: #00ffcc;
}

.article-label{
	color: #00ffcc;
}

.article-taglist a{
	color: #00ffcc;
}

.article-taglist a:hover{
	color: #e6e6e8;
}

.directory .connect{
	color: #00ffcc;
}

#sub-nav  .content-drop {
	background-color: #00ffcc;
	background: linear-gradient(#000817, #07132c);
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.7);
}

#sub-nav .content-drop a {
	color: #f2f3f3;
}

#sub-nav .content-drop a:hover {
	color: #00ffcc;
	background: rgba(64, 70, 81, 0.2);
}

#scroll-top{
	background-color: #00ffcc;
	color: #000817;
	box-shadow: -4px 7px 10px rgba(0,0,0,0.4);
}

#scroll-top:hover{
	color: #00ffcc;
	background-color: #000817;
}

/* SCROLLBAR DESIGNS */

body::-webkit-scrollbar-track {
	background-color: #000817;
	border-left: 1px solid #000a1f;
}
 
body::-webkit-scrollbar-thumb {
	background-color: #3366ff;
	border-left: 1px solid #000a1f;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #00ffcc;
	border-left: 1px solid #000a1f;
}

#side-nav::-webkit-scrollbar-thumb {
	background-color: #000817;
}

#ad-box::-webkit-scrollbar-track {
	background-color: #000817;
}
 
#ad-box::-webkit-scrollbar-thumb {
	background-color: #000817;
}

/* HIGHLIGHT COLORS */

.article-section h2::selection,
.article-section h3::selection,
.article-section b::selection{
	background-color: #000817;
	color: #3366ff;
}

.article-section p::selection{
	background-color: #000817;
	color: #00ffcc;
}

.code-box code::selection{
	color: #000817;
	background-color: #00ffcc;
}

.article-section p code::selection{
	background-color: #000817;
	color: #00ffcc;
}

/* DISABLING HIGHLIGHTING */

#scroll-top::selection,
#scroll-top span::selection,
#scroll-top b::selection,
#scroll-top br::selection{
	background: none;
}

.code-box h5::selection,
.code-box br::selection{
	background: none;
}

.article-section table::selection,
.article-section th::selection,
.article-section td::selection, 
.article-section li::selection,
.article-section span::selection,
.article-section::selection,
.article-taglist a::selection, 
.article-header h1::selection,
.article-header span::selection,
.article-header div::selection,
.article-share span::selection{
	background: none;
}

.caption-border::slection{
	background: none;
}

#ad-box p::selection,
#ad-box div::selection,
#ad-box iframe::selection,
#ad-box object::selection{
	background: none;
}

.col h5::selection,
.col a::selection,
.footer-base p::selection,
.footer-base b::selection, 
.socials::selection{
	background: none;
}

.head-base::selection,
.head-base #head-nav a::selection,
.head-base #head-logo a::selection,
#head-nav::selection{
	background: none;
}

#sub-nav::selection,
#sub-nav a::selection,
#sub-nav .extend-menu .navlist::selection{
	background: none;
}

.side-content a::selection,
.side-content-nav a::selection{
	background: none;
}