/* --- UPDATE PAGES --- */

.update-container {
  height: 160px;
  margin: 20px 10%;
  border: 2px solid #000817;
  border-radius: 4px;
  box-shadow: 0 8px 12px rgba(0,8,23,0.4);
  overflow: hidden;
  position: relative;
  text-align: left;
}

.update-info {
  background-color: #ffffff;
  color: #000817;
  height: 130px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 160px;
}

.update-image {
  background-color: #ffffff;
  height: 130px;
  width: 160px;
  position: absolute;
  top: 30px;
  right: 0;
  overflow: hidden;
}

.update-title {
  background-color: #000817;
  color: #00ffcc;
  height: 25px;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  padding: 3px 10px 3px;
  font-weight: bold;
  font-size: 14px;
}

.update-date, .update-details, .update-tags {
  overflow: hidden;
}

.update-date, .update-tags {
  height: 20px;
}

.update-date {
  font-size: 14px;
  padding: 2px 5px 0;
}

.update-details {
  height: 90px;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1.4;
  padding: 0 5px 0 10px;
}

.update-tags {
  font-size: 13px;
  padding: 1px 5px 0;
}

.update-image {
  height: 130px;
  width: 160px;
  position: absolute;
  top: 30px;
  right: 0;
}




/* ====== */


#main {
  position: relative;
  min-height: 100%;
  margin-left: 210px;
  margin-right: 210px;
  overflow: hidden;
  color: #000817;
  background-color: #f2f3f3;
  border-right: 2px solid #000612;
  border-left: 2px solid #000612;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.tjh-doc-bod {
  margin-top: 125px;
  padding: 0 0 350px;
  background-color: #f2f3f3;
  position: relative;
}

.tjh-doc-sect {
  text-align: center;
}

.tjh-doc-sect h2, .tjh-doc-sect h3,
.tjh-doc-sect h4, .tjh-doc-sect p {
  text-align: left;
}

/* --- Hyper links --- */

.update-title a {
  color: #00ffcc;
  text-decoration: none;
}

.update-date a {
  text-decoration: none;
  color: #000817;
}

.update-details a {
  text-decoration: none;
  color: #000817;
}

.update-title a:hover, 
.update-date a:hover, 
.update-details a:hover {
  text-decoration: underline;
}

.update-tags a {
  text-decoration: none;
  color: #000817;
  font-weight: bold;
}

.update-tags a:hover {
  color: #00ffcc;
  text-decoration: underline;
}

.update-image img{
  width: 100%;
  max-width: 130px;
  float: right;
}
