/* --- COLOR --- */
html, body {
  background-color: #000817;
  background-image: url(bg.png);
}

body::-webkit-scrollbar-track {
  background-color: #000817;
  border-left: 1px solid #000a1f;
}

body::-webkit-scrollbar-thumb {
  background-color: #3366ff;
  border-left: 1px solid #000a1f;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #00ffcc;
  border-left: 1px solid #000a1f;
}

.tjh-border-bg {
  background-color: #00ffcc;
  background: linear-gradient(to right, #00ffcc, #3366ff);
}

#tjh-head-base {
  background-color: #000817;
}

#prim-nav-1 a, #prim-nav-2 a, 
#prim-nav-3 a, #prim-nav-4 a, 
#prim-nav-5 a {
  color: #5c85ff;
}

#prim-nav-1 a:hover, #prim-nav-2 a:hover, 
#prim-nav-3 a:hover, #prim-nav-4 a:hover, 
#prim-nav-5 a:hover {
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.9);
  color: #00ffcc;
}

#prim-nav-1.current a, #prim-nav-2.current a, 
#prim-nav-3.current a, #prim-nav-4.current a,  
#prim-nav-5.current a {
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.9);
  color: #00ffcc;
}

input[type=text] {
  background-color: #000817;
  color: #00ffcc;
}

input::placeholder {
  color: #3366ff;
}

input:hover::placeholder {
  color: #00ffcc;
}

#tjh-sec-menu {
  background-color: #00ffcc;
  background: linear-gradient(to right, #00ffcc, #3366ff);
  box-shadow: 0 8px 14px rgba(0,0,0,0.5);
}

#tjh-sec-menu a,
.tjh-sec-drop {
  color: #000817;
}

#tjh-sec-menu a:hover {
  background-color: #0d1423;
  background: rgba(13,20,35,0.2);
  color: #000817;
  border-bottom: 3px solid #000817;
}

#tjh-sec-menu .tjh-sec-drop:hover {
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.2);
  color: #000817;
  border-bottom: 3px solid #000817;
}

#tjh-sec-menu .tjh-sec-drop-nav {
  background-color: #00ffcc;
  background: linear-gradient(#000817, #07132c);
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.7);
}

#tjh-sec-menu .tjh-sec-drop-nav a {
  color: #f2f3f3;
}

#tjh-sec-menu .tjh-sec-drop-nav a:hover {
  border-bottom: none;
  background-color: #3366ff;
  background: rgba(51, 102, 255,0.1);
  color: #00ffcc;
}

#tjh-cont-menu {
  background-color: #000817;
}

#tjh-cont-menu::-webkit-scrollbar-track {
  background-color: #000817;
}
 
#tjh-cont-menu::-webkit-scrollbar-thumb {
  background-color: #333945;
}

#tjh-cont-menu::-webkit-scrollbar-thumb:hover {
  background-color: #00ffcc;
}

.tjh-cont-main a {
  background: rgba(7, 19, 44, 0.2);
  color: #99add6;
  border-bottom: 2px solid #07132c;
  text-shadow: 2px 2px 2px #000;
}

.tjh-cont-top a {
  color: #99add6;
  text-shadow: 2px 2px 2px #000;
}

.tjh-cont-top a:hover {
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.9);
}

.tjh-cont-main a:hover,
.tjh-cont-top a:hover {
  color: #00ffcc;
}

#tjh-ad-box {
  background-color: #000817;
  border-left: 1px solid #0d1423;
  color: #99add6;
}

#article {
  color: #000817;
  background-color: #f2f3f3;
  border-right: 2px solid #000612;
  border-left: 2px solid #000612;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.tjh-art-bod {
  background-color: #f2f3f3;
}

.tjh-art-sect h2,
.tjh-art-sect h3,
.tjh-art-sect h4,
.tjh-art-sect p, 
.tjh-art-sect i {
  color: #000817;
}

.tjh-art-sect a {
  color: #3366ff;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.tjh-art-sect a:hover {
  color: #00ffcc;
  text-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#tjh-foot-base {
  background-color: #000817;
  color: #99add6;
}

.foot-menu-sector {
  background-color: #00ffcc;
  background: linear-gradient(#000817, #262d3a, #000817);
}

.foot-col {
  background-color: #000817;
}

.foot-col a {
  background-color: #000817;
  color: #99add6;
}

.foot-col h5 {
  color: #00ffcc;
}

.foot-col a:hover {
  background-color: #0d1423;
  background-color: rgba(13,20,35,0.9);
  color: #00ffcc;
}

.tjh-ad-box {
  background-color: #ccc;
}

#tjh-mob-drawer {
  color: #00ffcc;
}

#tjh-mob-drawer:hover {
  color: #3366ff;
}

.mob-nav-menu {
  background-color: #000817;
}

#mob-nav-1 a, #mob-nav-2 a, 
#mob-nav-3 a, #mob-nav-4 a, 
#mob-nav-5 a {
  color: #99add6;
}

.tjh-art-head {
  background-color: #000817;
  border-bottom: 1px solid #3366ff;
  box-shadow: 0 6px 10px rgba(0,0,0,0.5);
  color: white;
}

.tjh-art-head div {
  color: #e6e6e8;
}

.tjh-art-head h1 {
  text-shadow: 1px 0 1px #00ffcc;
  color: #e6e6e8;
}

.tjh-site-dir {
  background-color: #000817;
  border-bottom: 1px dashed #07132c;
  color: #e6e6e8;
}

.tjh-art-head .tjh-art-info {
  color: #e6e6e8;
}

.tjh-art-icon {
  color: #00ffcc;
}

.tjh-art-lbl {
  color: #00ffcc;
}

.tjh-art-tags a {
  color: #e6e6e8;
}

.tjh-art-tags a:hover {
  color: #00ffcc;
}

.tjh-site-dir .tjh-dir-con {
  color: #00ffcc;
}

#tjh-top-scroll {
  background-color: #000817;
  color: #00ffcc;
}

#scroll-top:hover {
  background-color: #00ffcc;
  color: #000817;
}

.tjh-img-mod {
  background-color: #000817;
  background: rgba(0,8,23,0.9);
}

.tjh-zm-out-btn {
  color: white;
}

.tjh-zm-out-btn:hover {
  color: #999;
}

.tjh-img-mod {
  background-color: #000817;
  background: rgba(0,8,23,0.9);
}

.tjh-img-mod::-webkit-scrollbar-track {
  background-color: #000817;
  border-left: 1px solid #000a1f;
}

.tjh-img-mod::-webkit-scrollbar-thumb {
  background-color: #3366ff;
  border-left: 1px solid #000a1f;
}

.tjh-img-mod::-webkit-scrollbar-thumb:hover {
  background-color: #00ffcc;
  border-left: 1px solid #000a1f;
}

.tjh-img-act img {
  border: 1px solid #000;
  box-shadow: 0 10px 15px rgba(0,0,0,0.7);
}

.tjh-img-act .tjh-mod-cap {
  color: white;
  text-shadow: 0 3px 3px rgba(0,0,0,0.9);
}

.tjh-img-cont {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0 8px 13px rgba(0,8,23,0.3);
}

.tjh-img-sqa img,
.tjh-img-por img,
.tjh-img-lan img {
  border: 1px solid #19202e;
}

.tjh-img-cap span {
  color: #19202e;
}

.tjh-cont-lst {
  background-color: #0d1423;
  color: #00ffcc;
}

.tjh-cont-lst span {
  color: #99add6;
}

.tjh-code-prev-head h4, 
.tjh-code-prev-head h5,
.tjh-cont-head h5 {
  background-color: #00ffcc;
  background: linear-gradient(to right, #00ffcc, #00524d);
  color: #000817;
  border-bottom: 2px solid #000817;
}

.tjh-prev-cont, 
.tjh-code-cont {
  background-color: #000817;
  border: 3px solid #000817;
  box-shadow: 0 8px 13px rgba(0,8,23,0.3);
}

.tjh-code-dmo::-webkit-scrollbar-track,
.tjh-code-view::-webkit-scrollbar-track,
.tjh-cont-tbl::-webkit-scrollbar-track {
  background-color: #000817;
  border-left: 3px solid #000817;
  border-top: 3px solid #000817;
}

.tjh-code-dmo::-webkit-scrollbar-corner,
.tjh-code-view::-webkit-scrollbar-corner,
.tjh-cont-tbl::-webkit-scrollbar-corner {
  background-color: #000817;
}
 
.tjh-code-dmo::-webkit-scrollbar-thumb,
.tjh-code-view::-webkit-scrollbar-thumb,
.tjh-cont-tbl::-webkit-scrollbar-thumb {
  background-color: #00ffcc;
  border-left: 3px solid #000817;
  border-top: 3px solid #000817;
}

.tjh-prev-code code::selection,
.tjh-code-dmo code::selection {
  background-color: #00ffcc;
  color: #000817;
}

.tjh-cont {
  background-color: #000817;
  border: 3px solid #000817;
  box-shadow: 0 8px 13px rgba(0,8,23,0.3);
}

.tjh-cont-tbl {
  background-color: #0d1423;
  color: #00ffcc;
}

.tjh-cont-tbl table, .tjh-cont-tbl td, .tjh-cont-tbl th {
  border: 1px solid #00ffcc;
}

.tjh-cont-tbl th {
  background-color: #00ffcc;
  color: #0d1423;
  border-right-color: #0d1423;
}

.tjh-cont-tbl td {
  border: 1px solid #00ffcc;
  color: #99add6;
}

.tjh-cont-tbl th:last-child {
  border-right-color: #00ffcc;
}

.tjh-quot-cont {
  background-color: #0d1423;
  color: #00ffcc;
}

.tjh-quot-cont hr {
	border: 1px solid white;
}

.tjh-code-dmo {
  background-color: #0d1423;
  color: #00ffcc;
}

p code {
  background-color: #19202e;
  color: #00ffcc;
}

.tjh-code-dmo code::selection {
  background-color: #00ffcc;
  color: #000817;
}

.tjh-code-prev-head h5::selection,
.tjh-code-prev-head h4::selection {
  background: none;
  color: inherit;
}

.tjh-prev-code h5,
.tjh-prev-dmo h5 {
  background-color: #000817;
  color: #00ffcc;
}

.tjh-prev-code h5 {
  border-bottom: 1px solid #19202e;
}

.tjh-prev-dmo h5 {
  border-bottom: 1px solid #000817;
}

.tjh-code-typ {
  color: #99add6;
}

.tjh-code-typ:hover {
  background-color: #0d1423;
  color: #00ffcc;
}

.tjh-code-typ.active {
  background-color: #0d1423;
  color: #00ffcc;
}

.tjh-code-typ::selection{
  background: none;
}

.tjh-code-view {
  background-color: #0d1423;
  color: #00ffcc;
}

.tjh-prev-code {
  border-right: 3px solid #000817;
}

.tjh-prev-dmo {
  background-color: #ffffff;
}

.tjh-prev-dmo::selection, .tjh-prev-dmo iframe::selection {
  background: none;
}

#tjh-warn-disp {
  /* high level warning 
  color: #fff;
  background-color: #ff4040;
  border-bottom: 3px solid #ff3838;*/
  /* medium level warning */
  color: #a33800;
  background-color: #ff992b;
  border-bottom: 3px solid #ff7a29;
  /* low level warning
  color: #fff;
  background-color: #ff4040;
  border-bottom: 3px solid #ff3838;*/
}

.tjh-disp-txt {
  background-color: #000817;
  color: #00ffcc;
  box-shadow: 0 8px 13px rgba(0,8,23,0.3);
}
