@media only screen and (max-width: 1400px) {
   #tjh-home-sector {
      margin-left: 210px;
      margin-right: 210px;
   }
   
   #tjh-ad-box {
      width: 200px;
   }

   #tjh-content-menu {
      width: 200px;
   }
   
}

@media only screen and (max-width: 800px) {
   #tjh-ad-box {
      display: none;
   }
   
   #tjh-home-sector {
      margin-right: 130px;
      margin-left: 130px;
   }

   #tjh-top-scroll{
     right: 2px;
     bottom: 330px;
   }
   
   #prim-nav-1 a, #prim-nav-2 a, 
   #prim-nav-3 a, #prim-nav-4 a, 
   #prim-nav-5 a {
     padding: 22px 5px;
     font-size: 13px;
     letter-spacing: 0.1px;
   }
   
   #tjh-logo-sector {
     width: 160px;
   }

   #tjh-logo-sector img {
     max-width: 151px;
     width: 100%;
   }

   #tjh-primary-nav {
     right: 80px;
     left: 160px;
   }
   
   input[type=text] {
     width: 80px;
     font-size: 13px;
     padding: 22px 5px 22x 2px;
     letter-spacing: 0.5px;
   }

   .tjh-ad-box {
     display: block;
   }
}

@media only screen and (max-width: 620px) {
   #tjh-mob-drawer {
     display: block;
     position: absolute;
     z-index: 110;
   }
   
   #tjh-primary-nav {
     display: none;
   }
   
   #tjh-search, input {
     right: 0;
     z-index: 100;
   }
   
   #tjh-logo-sector {
     left: 0;
     right: 0;
     width: 100%;
   }
   
   input[type=text]:focus {
     padding: 20px 5px 20px 10px;
     padding-left: 70px;
   }

   #tjh-content-menu {
      width: 130px;
   }
   
   #tjh-home-sector {
      margin-right: 0;
	  margin-left: 0;
   }
   
   .div a, .div2 a {
     font-size: 11px;
     letter-spacing: 0.4px;
     padding-left: 4px;
	 padding-right: 4px;
   }
   
   #tjh-top-scroll{
     right: 2px;
     bottom: 340px;
   }
   
   .home-update-section h2,
   .home-update-section h3,
   .home-update-section p{
      line-height: 1.5;
      letter-spacing: 0.4px;
   }

   .home-update-section h2 {
      padding: 10px 60px 7px 10px;
   }

   .home-update-section h3 {
      padding: 5px 60px 6px 15px;
   }

   .home-update-section p {
      padding: 10px 60px 20px 20px;
   }

   .tjh-update-sector{
      height: 130px;
      width: 70%;
      margin: 10px auto 20px;
	  box-shadow: 0 8px 13px rgba(0,8,23,0.3);
   }

   .update-head a{
	  padding: 10px 5px 5px;
   }

   .update-date a{
	  padding: 2px 5px 0;
	  margin-right: 100px;
	  font-size: 13px;
   }

   .update-info a{
	  padding: 2px 5px;
	  margin-right: 100px;
	  top: 61px;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  font-size: 12px;
   }

   .update-img{
      width: 100px;
	  height: 100px;
	  right: 0;
	  top: 33px;
   }
   
   .update-img img{
      max-width: 100px;
      width: 100%;	  
   }  
}
