/* --- MOBILE DEVICES --- */
@media only screen and (min-width: 1400px) {
  #article {
    margin-left: 240px;
    margin-right: 240px;
  }

  #tjh-top-scroll {
    right: 0;
    width: 240px;
  }

  #tjh-cont-menu {
    width: 230px;
  }
  
  #tjh-ad-box {
    width: 230px;
    background-color: #000817;
  }
  
  .tjh-prev-cont, .tjh-prev-cde, .tjh-code-view,
  .tjh-prev-dmo iframe, .tjh-prev-cde h5, 
  .tjh-prev-dmo h5, .tjh-code-cont {
    width: 400px;
  }
}

@media only screen and (max-width: 1000px) {
  #article {
    margin-left: 190px;
    margin-right: 190px;
  }

  #tjh-top-scroll {
    right: 190px;
    width: 40px;
  }

  #tjh-cont-menu {
    width: 180px;
  }
  
  #tjh-ad-box {
    width: 180px;
	background-color: blue;
  }
  
  .tjh-cont-main a, .tjh-cont-top a {
    font-size: 12px;
    letter-spacing: 0.7px;
  }

  .tjh-prev-cont, .tjh-prev-cde, .tjh-code-view,
  .tjh-prev-dmo iframe, .tjh-prev-cde h5, 
  .tjh-prev-dmo h5, .tjh-code-cont {
    width: 380px;
  }  

  .tjh-art-head h1 {
    font-size: 29px;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 850px) {
  .socials a {
    display: block;
    padding: 12px 10px;
    font-size: 12px;
    background-color: #000817;
  }
}

@media only screen and (max-width: 800px) {
  #article {
    margin-left: 160px;
    margin-right: 0;
  }

  #tjh-cont-menu {
    width: 150px;
	background-color: orange;
  }
  
  #tjh-ad-box {
    width: 150px;
	display: none;
  }

  .tjh-prev-cont, .tjh-prev-cde, .tjh-code-view,
  .tjh-prev-dmo iframe, .tjh-prev-cde h5, 
  .tjh-prev-dmo h5, .tjh-code-cont {
    width: 410px;
  }

  #tjh-top-scroll {
    right: 0;
    width: 40px;
  }

  .tjh-art-head h1 {
    font-size: 27px;
    line-height: 1.3;
  }
  
  #tjh-primary-nav {
    right: 70px;
    left: 120px;
  }
  
  .tjh-primary-nav a {
    padding: 23px 7px 17px;
    font-size: 13px;
  }

  input[type=text] {
    width: 70px;
    font-size: 13px;
    padding: 18px 5px 22x 2px;
    font-weight: bold;
    letter-spacing: 0.5px;
	z-index: 110;
  }

}

@media only screen and (max-width: 690px) {
  #tjh-logo-sector {
    width: 120px;
  }

  #tjh-logo-sector img {
    max-width: 115px;
    width: 100%;
    margin: 12px auto;
  }
  
  .tjh-art-sect h2 {
    padding: 30px 50px 7px 30px;
  }

  .tjh-art-sect h3 {
    padding: 6px 50px 6px 40px;
  }

  .tjh-art-sect h4 {
    padding: 5px 50px;
  }

  .tjh-art-sect p {
    padding: 2px 50px 20px;
  }
  
}

@media only screen and (max-width: 600px) {
  #article {
    margin-left: 140px;
    margin-right: 0;
  }

  #tjh-cont-menu {
    width: 130px;
  }

  .tjh-cont-main a, .tjh-cont-top a {
    font-size: 11px;
    letter-spacing: 0.3px;
  }
  
  #tjh-top-scroll {
    right: 35%;
	bottom: 0;
	transform: translate(35%,0);
    width: 130px;
	padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    z-index: 10;
  }
    
  #tjh-top-scroll span, #tjh-top-scroll b {
	font-size: 12px;
  }

  #tjh-top-scroll b {
	padding-left: 4px;
	text-transform: lowercase;
	font-weight: normal;
  }

  #tjh-top-scroll br {
	display: none;
  }

  #tjh-primary-nav {
    display: none;
  }
  
  #tjh-logo-sector {
    left: 0;
    right: 0;
    width: 100%;
  }
  
  #tjh-mob-drawer {
    display: block;
    position: absolute;
    z-index: 110;
  }

  .tjh-art-sect h2 {
    padding: 30px 40px 7px 20px;
    margin: 0;
  }

  .tjh-art-sect h3 {
    padding: 6px 40px 6px 30px;
    margin: 0;
  }

  .tjh-art-sect p {
    padding: 6px 40px 6px 35px;
    margin: 0;
  }

  .tjh-art-sect p, .tjh-art-sect i, .tjh-art-sect p code {
	font-size: 14px;
  }

  .tjh-art-sect p code {
    padding: 3px 5px;
    border-radius: 3px;
  }
 
}

@media only screen and (max-width: 580px) {
  #article {
    margin-left: 140px;
    margin-right: 0;
  }

  #tjh-cont-menu {
    width: 130px;
  }
  
  .tjh-cont-main a, .tjh-cont-top a {
    font-size: 11px;
    letter-spacing: 0.3px;
  }
  
  .tjh-prev-cont, .tjh-prev-cde, .tjh-code-view,
  .tjh-prev-dmo iframe, .tjh-prev-cde h5, 
  .tjh-prev-dmo h5, .tjh-code-cont {
    width: 300px;
  }

  .tjh-art-sect h2, .tjh-art-sect h3,
  .tjh-art-sect h4, .tjh-art-sect p, 
  .tjh-art-sect i {
	padding: 6px 12px;
	margin: 0;
  }

  .tjh-art-sect p, .tjh-art-sect i, .tjh-art-sect p code {
	font-size: 12px;
  }

  .tjh-art-sect p code {
    padding: 2px 4px;
    border-radius: 2px;
  }

  .tjh-art-head h1 {
    font-size: 23px;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 500px) {
  #article {
    margin-left: 130px;
    margin-right: 0;
  }

  #tjh-cont-menu {
    width: 120px;
	background-color: orange;
  }

  .tjh-prev-cont, .tjh-prev-cde, .tjh-code-view,
  .tjh-prev-dmo iframe, .tjh-prev-cde h5, 
  .tjh-prev-dmo h5, .tjh-code-cont {
    width: 210px;
  }

  .tjh-cont-main a, .tjh-cont-top a {
    font-size: 11px;
    letter-spacing: 0.3px;
    padding: 6px 0;
    padding-left: 3px;
  }
}
