/* --- MOBILE DEVICES --- */
@media only screen and (max-width: 1400px) {
  #article {
    margin-left: 210px;
    margin-right: 210px;
  }

  #tjh-ad-box {
    width: 200px;
  }

  #tjh-cont-menu {
    width: 200px;
  } 
}

@media only screen and (max-width: 870px) {
  .tjh-prev-cont, .tjh-code-cont {
    width: 300px;
    margin: 10px -2px 10px -2.5px;
    box-shadow: 0 8px 13px rgba(0,8,23,0.3);
  }
}

@media only screen and (max-width: 800px) {
  #tjh-ad-box {
    display: none;
  }
   
  #article {
    margin-right: 0;
  }

  #tjh-top-scroll {
    right: 2px;
    bottom: 330px;
  }
   
  #prim-nav-1 a, #prim-nav-2 a, #prim-nav-3 a, 
  #prim-nav-4 a, #prim-nav-5 a {
    padding: 22px 5px;
    font-size: 13px;
    letter-spacing: 0.1px;
  }
   
  #tjh-logo-sector {
    width: 160px;
  }

  #tjh-logo-sector img {
    max-width: 151px;
    width: 100%;
  }

  #tjh-primary-nav {
    right: 80px;
    left: 160px;
  }
   
  input[type=text] {
    width: 80px;
    font-size: 13px;
    padding: 22px 5px 22x 2px;
    letter-spacing: 0.5px;
  }

/*  .tjh-ad-box{
    display: block;
  }*/
  
  #down-container{
    left: 0;
    right: 0;
    border-right: none;
    border-right: none;
  }

  #down-content img{
	max-width: 400px;
  }
	
}

@media only screen and (max-width: 620px) {
  #tjh-mob-drawer {
    display: block;
    position: absolute;
    z-index: 110;
  }
   
  #tjh-primary-nav {
    display: none;
  }
   
  #tjh-srch, input {
    right: 0;
    z-index: 100;
  }
   
  #tjh-logo-sector {
    left: 0;
    right: 0;
    width: 100%;
  }
   
  input[type=text]:focus {
    padding: 20px 5px 20px 10px;
    padding-left: 70px;
  }

  #tjh-cont-menu {
    width: 99px;
  }
   
  #article {
    margin-right: 0;
    margin-left: 100px;
  }
   
  .tjh-cont-main a, .tjh-cont-top a {
    font-size: 9px;
    letter-spacing: 0.2px;
    padding-left: 3px;
    padding-right: 3px;
  }
   
  #tjh-top-scroll {
    right: 2px;
    bottom: 340px;
  }
  
  .tjh-art-shr {
    padding: 0 10px;
  }
   
  .tjh-art-sect h2,
  .tjh-art-sect h3,
  .tjh-art-sect p {
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .tjh-art-sect h2 {
    padding: 10px 10px 10px 10px;
	font-size: 20px;
  }

  .tjh-art-sect h3 {
    padding: 5px 10px 10px 15px;
	font-size: 18px;
  }

  .tjh-art-sect p,
  .tjh-art-sect h4 {
    padding: 0 20px 10px 20px;
  }

  .tjh-art-sect p {
	font-size: 12px;
  }

  .tjh-rw p code {
    padding: 2px 4px;
    font-size: 12px;
  }

  .tjh-img-sqa, .tjh-img-por, .tjh-img-lan,
  .tjh-img-cap-sqa, .tjh-img-cap-por, 
  .tjh-img-cap-lan {
    max-width: 230px;
  }
   
  .tjh-cont-lst {
    max-height: 200px;
    min-width: 230px;
    padding: 5px 10px;
  }
   
  .tjh-cont {
    max-width: 195px;
    margin: 10px -2px 10px -2.5px;
    box-shadow: 0 8px 13px rgba(0,8,23,0.3);
  }
   
  .tjh-art-sect table, .tjh-art-sect td, 
  .tjh-art-sect th {
    font-size: 11px;
  }
   
  .tjh-art-sect td, .tjh-art-sect th {
    padding: 2px 4px;
  }   
   
  .tjh-prev-cont, 
  .tjh-code-cont {
    width: 195px;
    margin: 10px -2px 10px -2.5px;
    box-shadow: 0 8px 13px rgba(0,8,23,0.3);
  }
   
  .tjh-code-tb {
    width: 250px;
  }
   
  .tjh-code-typ {
    padding: 5px 0;
    font-size: 13px;
    width: 60px;
    letter-spacing: 0.3px;
  }
   
  .tjh-prev-dmo, .tjh-prev-dmo iframe {
    height: 250px;
    width: 250px;
  }   
   
  .tjh-prev-code h5, .tjh-prev-dmo h5 {
    margin: 0 0 3px;
    padding: 2px 0;
    width: 250px;
    text-align: center;
  }
   
  .tjh-code-view {
    height: 232px;
    width: 250px;
    padding: 10px 0;
    font-size: 9px;
  }

  .tjh-code-view code {
    font-size: 12px;
  }
  
  .tjh-art-head h1 {
    font-size: 18px;
  }
  
  .tjh-site-dir span{
    font-size: 9px;
  }
  
  .tjh-art-head span {
    font-size: 11px;
  }

  #tjh-art-head-tags .tjh-rw {
    display: block;
	padding: 2px 5px;
  }

  #tjh-art-head-info .tjh-rw {
    display: block;
	padding: 2px 5px;
  }  
}

@media only screen and (max-width: 600px) {
  p code {
    padding: 2px 5px;
  }
  
  .tjh-art-sect p {
    line-height: 1.9;
    letter-spacing: 0.4px;
  }
}

@media only screen and (max-width: 480px) {
  #tjh-top-scroll br{
    display: none;
  }
  
  #tjh-top-scroll {
    padding: 10px 5px;
    position: fixed;
    right: 30%;
    bottom: 0;
	transform: translate(30%,0);
    width: 100px;
    display: none;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
    z-index: 10;
    background-color: #000817;
    color: #00ffcc;
	text-transform: capitalize;
  }

  #tjh-top-scroll span {
    font-size: 13px;
    margin: 0 4px 0;
    padding: 0;
  }
  
  #tjh-top-scroll b {
    text-transform: capitalize;
	font-weight: normal;
  }
  
  .foot-col a {
    padding: 7px 5px;
    font-size: 10px;
    margin: 0 2px;
    letter-spacing: 0.2px;
  }

  .foot-col h5 {
    padding: 5px;
    margin: 0;
    letter-spacing: 0.2px;
    font-size: 12px;
  }

  .tjh-code-view {
    height: 230px;
    width: 195px;
  }
   
  .tjh-prev-dmo, .tjh-prev-dmo iframe {
    height: 230px;
    width: 195px;
  }
  
  .tjh-prev-cde h5, .tjh-prev-dmo h5 {
    width: 195px;
  }

  
}
