@media screen and (max-width: 600px) {
  #head-base{
    height: 50px;
  }
  
  #head-mobile{
    display: block;
  }

  #logo{
    width: 90%;
    padding: 0;
    position: relative;
  }

  #logo img{
    height: 40px;
    width: 131px;
    margin: 5px auto 0;
  }

  #mobile-search{
	display: block;
  }
  
  #search{
	display: none;
  }

  .left, .right{
	float: none;
	clear: both;
	display: inline-block;
  }


  #main-menu{
    display: none;
  }
  
  #sub-menu{
    top: 50px;
  }
  
  #side-nav{
    top: 80px;
    width: 130px;
  }

  .div a{
    padding: 8px 0;
    padding-left: 4px;
    font-size: 14px;
    letter-spacing: 0.7px;
  }

  .div2 a{
    padding: 5px 0;
    padding-left: 10px;
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  #ad-box{
    display: none;
  }

  #article{
    margin-left: 130px;
    margin-right: 0;
  }

  .article-body{
    margin-top: 80px;
  }
  
  .post-information h2{
    margin: 0;
    padding: 5px;
	font-size: 16px;
  }

  .post-information p,
  .post-information span{
    margin: 0;
    padding: 5px 5px 5px 10px;
	font-size: 13px;
  }
  
  .post-container a{
    width: 90%;
	height: 120px;
    margin: 20px auto;
  }
  
  .post-image{
    height: 120px;
    width: 120px;
  }

.media-content, .media-caption, .media-title{
  width: 270px;
}

}

@media screen and (max-width: 800px) {
  #main-menu a{
    padding: 20px 8px;
    font-size: 15px;
  }
  
  #ad-box{
    display: none;
  }

  #article{
    margin-right: 0;
  }
  
  #scroll-top{
   right: 2px;
   bottom: 180px;
  }
  
  .post-container a{
    width: 90%;
	height: 140px;
    margin: 20px auto;
  }
  
  .post-image{
    height: 140px;
    width: 140px;
  }
  
  .post-information h2{
    margin: 0;
    padding: 5px;
	font-size: 16px;
  }

  .post-information p,
  .post-information span{
    margin: 0;
    padding: 5px 5px 5px 10px;
	font-size: 13px;
  }
  
  .ad-box{
    display: block;
  }
}

@media screen and (max-width: 620px) {
  #main-menu{
    text-align: right;
  }
}


@media screen and (max-width: 900px) {
  .post-container a{
    width: 90%;
	height: 120px;
    margin: 20px auto;
  }
  
  .post-image{
    height: 120px;
    width: 120px;
  }
  
  .post-information h2{
    margin: 0;
    padding: 5px;
	font-size: 16px;
  }

  .post-information p,
  .post-information span{
    margin: 0;
    padding: 5px 5px 5px 10px;
	font-size: 13px;
  } 
}
